.Navigation{
    .bomb{
        background-color: #fff440;
        color: #045E47;
        border-radius: 8px;
    }
    .f24{
        font-size: 24px;
    }
    .mt5 {
        margin-top: 5px;
    }
}



