.promotionAlert{
  position: fixed;
  z-index: 999;
  left: 50%;
  margin-left: -300px;
  top: 25%;
display: none;
  &.popout{
    display: block;
  }
  &.popBox {

    .popBox_body{
      border: 0 none;
      background: none;
      padding: 0;
      color: #FFFFFF;
      width: 600px;
      overflow: hidden;
    }
    .popBox_title{
      width:600px;
      padding: 0 10px;
    }
    .popBox_close{
      float: right;
      margin-top: 12px;
      text-align: center;
    }

  }
  .fa-circle-o-notch:before{
    content: ""!important;
  }
  .fa-remove:before,  .fa-times:before {
    position: relative!important;
    top: 0px!important;
    left: 0px!important;
  }
}