#reserveDialog_login{

  .modal-dialog {
    width: 725px;
  }
  .custom_modal_content {
    width: 400px;
    height: 300px;
    margin: 100px;
    box-shadow: none;
    top: 100px;
    background: transparent;
  }
  .custom_modal_content .modal-header {
    text-transform: uppercase;
    text-align: center;
  }
  .fast_booking_content form {
    width: 95%;
  }
  .fast_booking_content p {
    margin-top: 5px;
    margin-bottom: 3px;
    color: #fff
  }
  .fast_booking_content input {
    padding: 0px 5px;
    height: 33px;
  }
  .fast_booking_content button {
    width: 68px ;
    height: 26px ;
    display: block;
    margin: 20px auto 0px auto;
  }
}