.headerCon{
    background:#fff;

    position: relative;
}
#header{
    color: #fff;
    width: 100%;
    position: fixed;
    min-width: 1024px;
    z-index: 199;
    padding: 3.5px 0 0;
    background-color: #c83434;
    .errorMessage {
        position: absolute;
        top: 38px;
        right: 96px;
        &::before{
            margin-right: 5px;
            width: 18px;
            height: 18px;
            background-image: url(./images/sprite.png);
            background-position: -360px -320px;
            content: "";
            display: inline-block;
            vertical-align: -5px;
        }
    }
    .header-container{
        width:1200px;
        margin:0 auto;
        position: relative;
        .row{
            margin-left:-5px;
            margin-right:-5px;
        }
        .logo{
            cursor:pointer;
            .innerLogo{
                height:88px;
                width:240px;
                display: block;
                background: url('./images/logo.gif') 0 center no-repeat;
                background-size:contain;
            }
        }
        .right{
            float:right;
            padding-right: 20px;
        }
        #login-form{
            div{
                display: inline-block;
                float:left;
                margin-right: 14px;
                height:auto;
            }
            .form-reg-btn{
                padding:5px 20px;
                background-color: #ffb84c;
                height: auto;
                width: auto;
                color: #c83434;
                font-weight: 700;
                letter-spacing: 1px;
                border-radius: 20px;
                &:hover{
                    background-color: #ffcc7c!important;
                }
            }
            .inputDiv{
                position: relative;
                a.forget{
                    font-size: 12px;
                    position: absolute;
                    right: 15px;
                    top: 5px;
                    padding: 1px 8px;
                    border-radius: 8px;
                    cursor: pointer;
                    background-color: #c83434;
                    color: #fff;
                }
                input{
                    border:none;
                    border-radius: 8px;
                    width: 170px;
                    padding: 2px 10px 5px;
                    background-color: #fff;
                    color: #3d3d3d;
                    height: 31px;
                    line-height:31px;
                }
            }
            .loginBt{
                padding:2px 20px;
                border: 2px solid #fff;
                border-radius: 8px;
                cursor: pointer;
                color: #fff;
                background-color: #c83434;
                &:hover{
                    background-color: #ff3636;
                    text-shadow: 3px 1px 10px #fff;
                }
            }
        }
        .userInfo{
            padding:8px 0 0 0;
            width: 700px;
            text-align: right;
            .memberItem{
                b{
                    max-width: 200px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: inline-block;
                    margin: 0 5px;
                    position: relative;
                    top: 6px;
                }
            }
            a{
                color:#fff;
                font-size: 18px;
                display: inline-block;
                margin: 0 10px;
                &.circle-icon{
                    font-size: 15px;
                    background-color: #fe4445;
                    padding: 1px 5px !important;
                    display: inline-block;
                    border-radius: 50%;
                    font-weight: 800;
                }
            }
        }
    }
    .secondNav{
        background:#b02e2e;
        text-align: center;
        overflow: hidden;
        .hasChild{
            display: inline-block;
            border-radius:5px;
            width:700px;
            height: 150px;
            position: relative;
            margin:15px auto;
            animation-name: e;
            transition: transform .3s;
            animation-duration: .5s;
            transform: translateY(0);
            background-color: rgb(243, 243, 243);
            &:after{
                content:'';
                display: block;
                clear: both;
            }
            .line{
                width: 4px;
                display: inline-block;
                background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
                float: left;
                height: 100%;
            }
            .first{
                width: 151px;
                background-color: #fff;
                display: inline-block;
                height: 100%;
                border-radius: 15px 0 0 15px;
                float: left;
                .animate{
                    transition: transform .3s;
                    transform: translateY(0);
                    .itemImg{
                        height:65px;
                    }
                    &:hover{
                        transform: translateY(-9px);
                        .itemBtn{
                            a{
                                color: #95201f !important;
                                background-color: #c83434;
                                &:before {
                                    transform: scaleY(1);
                                }
                            }
                        }
                    }
                }

            }
            .rightCon{
                float:left;
                padding-left:20px;
                position: relative;
                .top{
                    position: absolute;
                    top: 0;
                    left: 50%;
                    display: block;
                    padding: 0px 10px;
                    border-radius: 0 0 3px 3px;
                    background: #9339f5;
                    color: #fff;
                    font-size: 12px;
                    margin-left: -75px;
                    width: 150px;
                }
                ul{
                    width:auto;
                    li{
                        background:none;
                        margin:30px 0 0 0px;
                        border-radius:0;
                        .itemImg{
                            height:75px;
                        }
                    }
                }
            }

        }


        .itemIcon{
            left: 0px;
            background: url(./images/icon.png) no-repeat;
            position: absolute;
            width:40px;
            height:40px;
            background-size: 100%;
        }
        .itemName{
            padding-top: 10px;
            padding-bottom: 8px;
            color: #333;
        }
        .itemImg{
            width: 150px;
            height:55px;
            display: table-cell;
            vertical-align: middle;
            background-position:center;
            background-repeat: no-repeat;
            background-size:auto 100%;
            //老虎机的
            &.AG{
                background-image:url('./images/nav2img/ag.png');
            }
            &.BBIN{
                background-image:url('./images/nav2img/cp_BBIN.png');
            }
            &.MG2,&.MG{
                background-image:url('./images/nav2img/game_MG2.png');
            }
            &.PT{
                background-image:url('./images/nav2img/game_PT.png');
            }
            &.CQ{
                background-image:url('./images/nav2img/game_CQ.png');
            }
            &.HB{
                background-image:url('./images/nav2img/game_HB.png');
            }
            &.QT{
                background-image:url('./images/nav2img/game_QT.png');
            }
            &.VT{
                background-image:url('./images/nav2img/oGame_MG2.png');
            }
            //体育的
            &.SB{
                background-image:url('./images/nav2img/SB.png');
            }
            &.N188{
                background-image:url('./images/nav2img/N188.png');
            }
            &.TB{
                background-image:url('./images/nav2img/TB.png');
            }
            //真人其中有一部分和电子游戏的class相同 就不写了
            &.TGP{
                background-image:url('./images/nav2img/TGP.png');
            }
            &.OG{
                background-image:url('./images/nav2img/og.png');
            }
            &.AB{
                background-image:url('./images/nav2img/xpj.png');
            }
            &.eBET{
                background-image:url('./images/nav2img/xpj.png');
            }
            //彩票
            &.bingo_CG{
                background-image:url('./images/nav2img/cqssc.png');
            }
            &.bingo_BBIN{
                background-image:url('./images/nav2img/hklhc.png');
            }
            &.bingo_KG{
                background-image:url('./images/nav2img/kgcp.png');
            }
            //捕鱼
            &.ag_buyu{
                background-image:url('./images/nav2img/by_AG.png');
            }
            &.ag_buyuBBin{
                background-image:url('./images/nav2img/by_BBIN2.png');
            }
            &.ag_buyuDaren{
                background-image:url('./images/nav2img/by_BBIN.png');
            }
            &.ag_shenhai{
                background-image:url('./images/nav2img/by_PT.png');
            }
            //开元棋牌
            &.ky{
                background-image:url('./images/nav2img/qp_ky.png');
            }
            &.tm{
                background-image:url('./images/nav2img/qp_tm.png');
            }
            &.ky_niu{
                background-image:url('./images/nav2img/kyicon-1.png');
            }
            &.ky_za{
                background-image:url('./images/nav2img/kyicon-2.png');
            }
            &.ky_28{
                background-image:url('./images/nav2img/kyicon-3.png');
            }
            //优惠
            &.promotion_0{
                background-image:url('./images/nav2img/icon_all.png');
            }
            &.promotion_1{
                background-image:url('./images/nav2img/icon_event.png');
            }
            &.promotion_2{
                background-image:url('./images/nav2img/icon_new_user.png');
            }
            &.promotion_3{
                background-image:url('./images/nav2img/icon_new_user.png');
            }
            &.promotion_4{
                background-image:url('./images/nav2img/icon_sport.png');
            }
            &.promotion_5{
                background-image:url('./images/nav2img/icon_poker.png');
            }
            &.promotion_6{
                background-image:url('./images/nav2img/icon_slot.png');
            }
            &.promotion_7{
                background-image:url('./images/nav2img/icon_casino.png');
            }
        }
        .itemBtn{
            margin-top:5px;
            width: 86%;
            margin-left: 10px;
            overflow: hidden;
            border-radius: 20px;
            a{
                background-color: #c83434;
                color: #fff!important;
                display: inline-block;
                vertical-align: middle;
                width: 100%;
                transform: perspective(1px) translateZ(0);
                position: relative;
                outline: none;
                transition-property: color;
                transition-duration: .3s;
                font-size: 13px;
                padding: 3px 0;
                &:before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: #ffb43e;
                    color: #95201f!important;
                    transform: scaleY(0);
                    transition-property: transform;
                    transition-duration: .3s;
                    transition-timing-function: ease-out;
                }
            }
        }
        ul{
            overflow: hidden;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
            width: 1210px;
            &:after{
                content:'';
                display: block;
                clear: both;
            }

            li{
                display: inline-block;
                position: relative;
                margin: 15px 10px;
                width: 120px;
                height: 135px;
                background-color: #fff;
                border-radius: 15px;
                cursor: pointer;
                animation-name: e;
                transition: transform .3s;
                transform: translateY(0);
                &.li-0{
                     animation-duration: .5s
                }
                &.li-1{
                    animation-duration: .6s
                }
                &.li-2{
                    animation-duration: .7s
                }
                &.li-3{
                    animation-duration: .9s
                }
                &.li-4{
                    animation-duration: 1s
                }
                &.li-5{
                    animation-duration: 1.1s
                }
                &.li-6{
                    animation-duration: 1.2s
                }
                &.li-7{
                    animation-duration: 1.3s
                }
                &.li-8{
                    animation-duration: 1.4s
                }
                &:hover{
                  transform: translateY(-9px);
                    .itemBtn{
                        a{
                            color: #95201f !important;
                            background-color: #c83434;
                            &:before {
                                transform: scaleY(1);
                            }
                        }
                    }
                }
            }
        }
    }
    @keyframes e {
        0% {
            transform-origin: 0 0;
            transform: translateY(-50px)
        }

        to {
            transform-origin: 0 0;
            transform: translateY(0)
        }
    }
}
.sub-header{
    padding-top:102px;
    background:#fff;
   .marquee{
       position: relative;
       line-height: 40px;
       height: 40px;
       i{
           display: inline-block;
           color:#af0000;
           position: absolute;
           top:14px;
           left: 5px;
       }
       .NewNoticeList{
           margin-left:20px;
           a{
               color:#555;
               font-size:14px;
           }

       }
   }
    .right{
        .row{
            padding:0 15px;
            font-weight: 600;
            a{
                padding:10px 0;
                display: inline-block;
                color:#c83434;
                text-align: center;
                &.showQrcode:hover{
                    cursor:pointer;
                    color:rgb(238,163,163);
                    background-color: #c83434;
                    i{
                        color:rgb(238,163,163);
                    }
                    .mobile-qrcode-wrapper-header{
                        display: block;
                    }
                }
            }
            i{
                color:#c83434;
                font-size:18px;
                margin-right:10px;
                position: relative;
                top:2px;
            }
        }
    }
    .mobile-qrcode-wrapper-header{
        display: none;
        z-index: 3;
        background-color: #c83434;
        color: #eea3a3;
        position: absolute;
        line-height: 26px;
        padding-bottom:20px;
        width:350px;
        letter-spacing: 4px;
        top: 40px;
    }
    .mobile-qrcode-wrapper-header .mobile-qrcode {
        color: #fff
    }

    .no-csstransforms .mobile-qrcode-wrapper-header .mobile-qrcode {
        display: block
    }

    .mobile-qrcode-wrapper-header .mobile-qrcode .col-md-12 div {
        border: 2px solid #fff;
        border-radius: 20px;
        font-size: 18px;
        cursor: pointer;
        margin: 18px auto;
        width: 230px;
        text-align:center;
    }

    .mobile-qrcode-wrapper-header .mobile-qrcode .col-md-12 div:hover {
        background-color: #fff;
        color: #c83434
    }

    .mobile-qrcode-wrapper-header .mobile-qrcode .qr-left-col {
        padding-left: 40px
    }

    .mobile-qrcode-wrapper-header .mobile-qrcode .qr-left-col .qr-top-text {
        font-size: 32px
    }
    .mobile-qrcode-wrapper-header .mobile-qrcode .qr-left-col .qr-bottom-text {
        font-size: 23px
    }
    .mobile-qrcode-wrapper-header .mobile-qrcode .qr-right-col {
        border-left: 1px solid #fff
    }

}