#RegisterNewPage{
    text-align: center;
    audio, canvas, progress, video{
        vertical-align: bottom;
        cursor: pointer;
    }
    input[title="DatePick"]{
        color: #fff!important
    }
    .tm{
        .divc {margin: 0 auto}
        input.input {
            box-sizing: border-box;
            height: 40px;
            line-height: 40px;
            padding: 6px 12px;
            font-size: 14px;
        }
        .w238{width: 238px;}
    }
    p{
        color: #fff;
        margin: 0;
    }
    .ht-t{
        text-align: center;
        color: #999;
        line-height: 1.3;
        width: 315px;
        height: 59px;
        margin: 0 auto;
    }
    .fa-star{
        color: #f00;
    }
    .tm{
        padding-top: 1.8%;
    }
    p.col-xs-6 {
        text-align: right;
        padding-right: 1rem;
        width: 40%;
    }
    div.col-xs-6 {
        text-align: left;
        padding-left: 1rem;
    }
    .reg-terms {
        text-align: left;
    }
    .daccept {
        margin-left: 40%;
    }
    .content{
        margin-top: 3%;
        padding-top: 3%;
        padding-bottom: 3%;
        height: auto;
        line-height: 48px;
    }
    .registitle{
        height: 30px;
        text-align: left;
        padding-left: 40px;
    }
    .regisfoot{
        display: inline-block;
        clear: both;
        width: 928px;
        height: 86px;
        text-align: center;
        margin-top: 77px;
        padding: 15px 35px;
        background: #570605;
        border: 1px solid #ab0000;
        font-size: 13.5px;
        .footleft{
            vertical-align: middle;
            display: inline-block;
            width: 380px;
            height: 54px;
            text-align: left;
            position: relative;
            padding-left: 10px;
            label{  position: absolute;  }
            .labup{  top: -7px;  }
            .labdwn{  top: 14px;  }
        }
        .footright{
            vertical-align: middle;
            display: inline-block;
            height: 54px;
            width: 380px;
            position: relative;
            padding-left: 110px;
        }
    }
    .htbtnlg{
        width: auto;
        height: 48px;
        margin-top: 2px;
        line-height: 48px;
        color: #603913;
        font-size: 20px;
        padding: 0 10px;
        background: #ffcc83;
        border: 1px solid #dbb576;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
            background-color: rgba(0,0,0,0.5)
        }
    }
  .regishint{
    height: 20px;
    line-height: 20px;
  }
    .registerDatePick{
        height: 40px!important;
        width: 238px !important;
        padding: 6px 12px!important;
        font-size: 14px!important;
        box-sizing: border-box !important;
        line-height: 40px!important;
        margin-top: 5px;
        div{
            bottom: 9px !important;
            left: -6px !important;
            font-size: 14px;
        }
        input{

        }
    }
}
