.EditPassword {
    .am-navbar {
        .am-navbar-left {
            color: #fff;
        }
        .am-navbar-title {
            color: #fff;
        }
    }
    .scroll-content {
        margin-bottom: 0;
        z-index: 1;
        &::-webkit-scrollbar {
            width: 0;
        }
    }

    .formCon {
        padding: .2rem;

        i.icon {
            font-size: .4rem;
            margin-left: .5rem;
        }

        .am-list-body:before {
            height: 0px;
        }
    }
}