#casino{
  .casino-Content {
    padding: 20px;
    text-align: center;
  }
  .cansino-nav li {
    display: inline-block;
    width: 11%;
    text-align: center;
    height: 55px;
    line-height: 55px;
    position: relative;
    a{
      text-decoration: none;
      font-size: 16px;
      display: block;
      position: absolute;
      width: 100%;
      transition: all 0.25s linear;
      -webkit-transition: all 0.25s linear;
      -moz-transition: all 0.25s linear;
      -o-transition: all 0.25s linear;
      background-size: auto; 
    }
  }
  .casino-platform-list {
    width: 1050px;
    margin: 20px auto 0 auto;
    // background: #730000;
    div.color-main {
      margin: 20px 0px;
      .c-items{
        margin-bottom: 30px;
      }
      .hengBg{
        margin-top: 15px;
        background: url("../../page/index/images/casino/inco-h_03.jpg") center no-repeat;
        height: 2px;
        display: block;
      }
      .casino-platform-list-img {
        width: 271px;
        height: 230px;
        h3 {
          text-align: center;
          margin: 0px;
          padding-top: 305px;
        }
      }
      .casino-platform-list-link{
        width: 166px;
        margin: 0 auto;
      }
      .casino-platform-list-link a {
        background: #343434;
        border-radius: 4px;
        text-align: center;
        color: #727272;
        height: 26px;
        line-height: 26px;
        margin: 10px auto 0px auto;
        &:hover{
          color: #FFF;
        }
      }

    }
  }
}