.AboutUs{
  padding: 15px 5px;
  .sssv28-about-title{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .sssv28-about_text {
    line-height: 1.6;
    font-size: 13px;
    margin-bottom: 15px;
  }
  .sssv28-about_text a {
     color: #da2d33;
   }

}