@import "../../style/variables.scss";
.am-navbar{
  background-color:$theme-firstBg-color !important;
  color:#fff !important;
  border-bottom: 1px solid $theme-noticeBg-color  !important;
  .am-navbar-title{
    color:#fff !important;
  }
  //登录/注册 按钮
  .loginBtn{
    color: #373737;
    background-color: #ffe000;
    border-color: #ffe000;
    padding: .2rem .15rem;
    border-radius: .1rem;
    font-weight: bold;
    display: inline-block;
  }
  a{
    color:#fff;
  }
}
.scroll-content{
  border-top-color:$theme-noticeBg-color !important;
}
.firstPage{
  background-color:$theme-firstBg-color !important;
  .am-navbar{
    .am-navbar-title{
      flex:1.5;
      -webkit-box-flex: 1.5;
      -webkit-flex: 1.5;
    }
  }

  //公告
  .am-notice-bar{
    background: $theme-noticeBg-color ;
  }
  .contentTab{
    .tabs{
      a{
        display: inline-block;
        width: 33.333%;
        height:2.5rem;
        color: #fff;
        text-align: center;
        border-bottom: 1px solid #560202;
        border-top: 1px solid #cc0505;
        border-right: 1px solid #560202;
        padding:.2rem;
        font-size:.3rem;
        vertical-align: middle;
        box-sizing: border-box;
        position: relative;
        &:nth-child(3),&:nth-child(6),&:nth-child(9){
          border-right:0;
        }
        svg{
          display: block;
          width:70%;
          margin:.1rem auto ;
          fill: $theme-textActive-color;
          overflow: hidden;
        }
        .am-badge-not-a-wrapper .am-badge-text, .am-badge-not-a-wrapper .am-badge-dot{
          background-color:red;
        }
        .am-badge{
          position: absolute;
          right: .15rem;
          top: .15rem;
        }
        p{
          display: block;
          position: absolute;
          bottom: .3rem;
          width: 100%;
          left: 0;
          margin:0;
        }
      }
    }

  }
}
.closable.am-notice-bar{
  margin: 0;
  padding: 0;
  list-style: none;
  position: fixed;
  width: 100%;
  height: 55px;
  top: 0;
  display: block;
  overflow: hidden;
  font-size: 14px;
  .am-notice-bar-content{
    margin:auto .2rem;
  }
  .am-notice-bar-operation{
    position: absolute;
    top:3px;
    right:-3px;
  }
  .am-notice-bar-marquee{
    display: block !important;
  }
  .logo{
    float: left;
    width: 40px;
    height: 50px;
  }
  .text{
    float:left;
    text-align: left;
    margin: 3px .1rem;
    line-height: .45rem;
    p{
      margin:0;
      font-weight: bold;
      font-size:.3rem;
    }
    span{
      font-weight: normal;
      font-size:.25rem;
      margin:0 10px 0 0;
    }
  }
  a.downAppBtn{
    display: block;
    float: right;
    width:55px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #FFF77A;
    border: 2px solid #FFF77A;
    border-radius: 5px;
    font-size: 13px;
    margin: 13px .3rem 0 0;
  }

}


