@charset "utf-8";
@import "variables";

body{
  background-color: #4a2a25;
  color: $text-color-normal;
}



.header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid $nav-Separate-lines-top;
  .logo_img{
    width: 990px;
    height: 800px;
    display: block;
    margin: 0 auto;
  }
}
.menuNav{
  border-top: 1px solid $nav-Separate-lines-bottom;
  height: 53px;
}
.header .logo_img .header_left {
  background: map-get($base,logo_img) 0 0 no-repeat;
  width: 50%;
  height: 100px;
  float: left;
}
.header_right {
  width: 20%;
  background: map-get($base,hader_right_img)  no-repeat right;
}
.now{
  color:$text-color-2;
}
.menuNav .menuBtn ul {
  li {
    width: 128px;
    padding-top: 8px;
    a {
      color: $text-color-normal;
      display: block;
      line-height: 45px;
      text-align: center;
      z-index: 15;
    }
  }
 
}



//-----------footer-------------
.footerNav {
  background: $bg-footer-nav;
}

.footerNav .footerNavBtn a {
  color: #dca69e;
  transition: all .5s;
  font-size: 12px;
}
.footerNavBtn a:hover{
  color: $footer-hover;
}
.footer {
  background: $bg-color-footer;
}
.footer_bg {
  background: map-get($base,footer_bg_img) no-repeat;

}

//--------------网站首页-----------

.bannerImg {
  background: map-get($base,index_banner_img) center no-repeat;
}

.imgLeft {
  background: map-get($base,index_banner_img_two) no-repeat;
}

.content_bottom .textRight .textRight_content #sqBtnStyle{
  background: $bg-color-btn;
  color: $button-color;
}

#sqBtnStyle:hover{
  background: $btn-hover;
}

.content_up {
  border-bottom: 1px solid $nav-Separate-lines-top;
  padding-bottom: 25px;
}

//------------品牌介紹-------------
#BrandContent  .banner{
  border-bottom: 1px solid $nav-Separate-lines-bottom;
}
#BrandContent .brandBanner {
  background: map-get($base,brand_banner_img) center no-repeat;
}
#BrandContent .contentText1 {
  border-top: 1px solid $nav-Separate-lines-top;
  border-bottom: 1px solid $nav-Separate-lines-bottom;
}
#BrandContent .contentText2 {
  border-top: 1px solid $nav-Separate-lines-top;
  border-bottom: 1px solid $nav-Separate-lines-bottom;
}
#BrandContent .contentText3 {
  border-top: 1px solid $nav-Separate-lines-top;
  border-bottom: 1px solid $nav-Separate-lines-bottom;
}
#BrandContent .contentText4 {
  border-top: 1px solid $nav-Separate-lines-top;
}

#BrandContent .productMix {
  background: $bg-color-btn;
  color: $bg-color2;
}

#BrandContent .productMix:hover{
  background: $btn-hover;
}

#BrandContent .icon1 {
  background:  map-get($base,brand_icon1) no-repeat center;
}
#BrandContent .icon2 {
  background:  map-get($base,brand_icon2) no-repeat center;
}
#BrandContent .icon3 {
  background:  map-get($base,brand_icon3) no-repeat center;
}

#BrandContent .LocaHref {
  background: $bg-color-btn;
  color: $bg-color2;
}
#BrandContent .productListImgTy {
  background: map-get($base,productListImgTy) no-repeat top center;
}
#BrandContent .productListImgZr {
  background: map-get($base,productListImgZr) no-repeat top center;
}
#BrandContent .productListImgLhj {
  background: map-get($base,productListImghj) no-repeat top center;
}
#BrandContent .productListImgCp {
  background: map-get($base,productListImgCp) no-repeat top center;
}

#BrandContent .productListImg {
  border: 1px solid $border-color2;
}

#BrandContent .productListImg1 {
  background: map-get($base,productListImg1) no-repeat;
  background-size: 100%;
}
#BrandContent .productListImg2 {
  background: map-get($base,productListImg2) no-repeat;
  background-size: 100%;
}
#BrandContent .productListImg3 {
  background: map-get($base,productListImg3) no-repeat;
  background-size: 100%;
}
#BrandContent .productListImg4 {
  background: map-get($base,productListImg4) no-repeat;
  background-size: 100%;
}
#BrandContent .productListImg5 {
  background: map-get($base,productListImg5) no-repeat;
  background-size: 100%;
}
#BrandContent .productListImg6 {
  background: map-get($base,productListImg6) no-repeat;
  background-size: 100%;
}
#BrandContent{
  .introduce{
    h3{
      color: $text-color-2;
    }
  }
}
//--------合營計畫--------
#AllianceContent{
  h3{
    color:$text-color-2 ;
  }
}
.juzhong{
  span{
    color:$text-color-2 ;
  }
}
.money-fousImg{
  background: map-get($base,Cooperation_head_img) top center no-repeat;
  height: 574px;

}
.money-text span {
  color: $menu-click-color;
}

.borderHeng {
  border-top: 1px solid $nav-Separate-lines-top;
  border-bottom: 1px solid $nav-Separate-lines-bottom;
}

#AllianceContent .fnameCenter .moneyStep .moneyStepList {
  background: $bg-Process-color;
}

.moneyBorderSan {
  border-left: 30px solid $border-color;
}

.tableList {
  color: #dca69e;
  border-bottom: 1px solid $border-color;
  border-right: 1px solid $border-color;
  background: $bg-title-color;
}

.tableList tr td {
  border-top: 1px solid $border-color;
  border-left: 1px solid $border-color;
}

//__________________________立即加入________________

.register_title_img{margin-top: 20px;}

.rg1 {
  border: 1px solid $border-color2;
}
.rg2{
  background-image: map-get($base,register_bg_img);
}

.reg-fnameContent {
  border: 1px solid $border-color2;
  background: rgba(0,0,0,.7);
  color: $menu-click-color;
}

.submit_btn_input {
  background: #bf8109 !important;
  color: $text-color-normal!important;
  border: 1px solid $border-color2!important;
}


//__________________________營銷工具________________

.marke-fousImg{
  background: map-get($base,tools_head_img) top center no-repeat;
  height: 520px;
}

#ToolsContent{
  .fnameCenter{
    span{
      color:$text-color-normal;
      i{  color:#B54A3A  }
    }
    h3{  color:$text-color-normal;  }
    p{  color:$text-color-normal;  }
  }
}

.productMix{
  background-color: $bg-color-btnhover;
  color:$text-color-normal;
}
.productMix:hover{
  background-color: $bg-color-btn;
}




//__________________________常見問題________________

#FaqContent .img{
  background: map-get($base,problem_head_img) center no-repeat;
}

.helpStyle{
  h3{
    background-color: #361a18;
    border-bottom: 1px solid #5f3730;
    border-left: 2px solid #5f3730;
  }
  .helpList{
    border-left: 2px solid #56332e;
    a{
      color:$text-color-normal;
      border-top: 1px solid #351914;
      border-bottom: 1px solid #5f3730;
    }
    p{
      color:$text-color-2;
      border-top: 1px solid #351914;
      border-bottom: 1px solid #5f3730;
    }
    hengTwoList{
      border-bottom: 1px solid $nav-Separate-lines-bottom;
    }
  }
}

//__________________________聯絡我們________________

.contact-fousImg{
  background: map-get($base,contact_head_img) top center no-repeat;
}

.iconGroup{
  color: #FED65C!important;
}
.fnameCenter{
  span{
    color:$text-color-normal;
    i{  color:#FED65C  }
  }
  h3{  color:$text-color-normal;}
  p{  color:$text-color-normal;  }
}

.huang {
  color: #bf8109;
}

#AllianceContent .fnameCenter.money-text p {
  font-size: 17px;
}
#ContactContent .fnameCenter{
  span i {
    color: #b54a3a;
}
}
#ContactContent .fnameCenter .contactHzImg .logoImg{
  background:  map-get($base,contact_bottom_logo_img) no-repeat center;
  background-size: 66%;
  width: 155px;
  height: 110px;
  p{
   
  }
}
#ContactContent .fnameCenter .contactHzImg span {
  color: #e6e7e8;
  position: relative;
  top: -45px;
}
.textListText{
  font-size: 14px !important;
}
.content_up{
  border-bottom: 1px solid $nav-Separate-lines-bottom;
}

.content_bottom {
  border-top: 1px solid $nav-Separate-lines-top;
}

.iconGroup {
  color:#b54a3a
}
.formRight{
  p{position: relative;}
}
//.tab_inco5{
//  &:before{
//    content: "834661888";
//    position: absolute;
//    top: 3px;
//    left: 131px;
//    width: 100px;
//    height: 29px;
//    background: #45290c;
//    color: #fff;
//    font-size: 18px;
//  }
//}







