@charset "utf-8";

/**
* @description: 常用变量
* @author: assassin.liu
* @update: 2014/9/2
*/

// base


$font-size:              14px;
//$font-family:            #{arial,helvetica,STHeitiSC-Light,"Heiti SC",droidsansfallback,dengxian,"microsoft yahei"};

$text-color-normal:      #e11222;
$text-color-nav:             #e11222;
$text-color-ReturnTop:        #fff;
$text-header-title: #000;
$title-color: #fff;
//$text-color-deep:        #e3c652;
$text-color-hightline:   #f8d04c;

$bg-color:               #fff;
$bg-color-main-content:  #fff;
$bg-color-nav:          #e11222;
$bg-color-nav-hover:          #e11222;
$bg-color-title:          #e11222;
$bg-color-footer:          #281400;
$bg-color-contact:        #312f2f;
$bg-color-contact-btn:   #EBB751;
$bg-color-header:         #e11222;


$nav-Separate-lines:     #381F05;

$border-color:            #d2d2d2;
//$border-color-deep:      #8effe0;

// base
$base: (
        logo_img:url(resources/logo2.png),
        hader_right_img:url(resources/help.png),
        title_bg_img:url(resources/banner.png),
        footer_bg_img:url(resources/footer.jpg),

);
