@import "../../style/variables.scss";
.am-action-sheet-button-list-item{
  height:auto;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  html:not([data-scale]) .DepositPage .am-list-body::after {
    background-color:transparent !important;
  }
}
.am-list-body{
  .am-input-control{
    input{
      color: #888!important
    }
  }
}
.DepositPage{
  .am-list-item .am-input-control input:read-only{
    color:#888;
  }
.am-list-line:after{
    height:0px !important;
  }
  .payTabs{
    height: 30px;
    padding: 0 10px;
    margin-top:10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    .tabsItem{
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      color:$theme-text-color;
      border:1px solid $theme-text-color;
      border-left-width: 0;
      position: relative;
      &:first-child{
        border-left-width: 1PX;
        border-radius: 5px 0 0 5px;
      }
      &:last-child{
        border-radius: 0 5px 5px 0;
      }
      &>div{
        display: block;
        text-align: center;
        p{
          font-size:.2rem;
          margin:0;
          padding:0;
        }
      }
      &.active{
        background: $theme-text-color;
        color:#fff;
      }
    }
  }
  .Segmented{
    height: 30px;
    padding: 0 10px;
    margin-top:10px;
    .am-segment-item{
      color:$theme-text-color;
      border-color:$theme-text-color;
      position: relative;
      .tooltiptextuc{
        position: absolute;
        top:-5px;
        right:0;
      }
    }
    .am-segment-item-selected{
      background: $theme-text-color;
    }

  }
  .am-list-item.am-input-item{
    padding-left:0px;
  }
  .am-list-item.depositmoney .am-list-line .am-list-extra{
    flex-basis: 28%;
  }
  .am-list-item .am-list-line .am-list-extra{
    flex-basis: 60%;
    color: #000;
  }
  .addAmount{
    a{
      display: inline-block;
      padding: 3px 10px;
      font-size: .25rem;
      background: #e6a72c;
      color: #333;
      margin-left: 10px;
      border-radius: 5px;
      &:last-child{
        color:#fff;
        background:$theme-btnBg;
      }
    }
  }
  .quick-amount{
    .am-flexbox-item{
      text-align: center;
      height: .8rem;
      line-height: .8rem;
      border: 1px solid $theme-border-color;
      border-radius: .2rem;
      margin: 5px 10px !important;
      color: $theme-text-color;
      &.active{
        background-color:$theme-btnBg;
        color:#fff;
      }
    }
  }

  .onlinepay{
    background:#eee;
    text-align: left;
    font-size:16px;
    margin-top:.2rem;
    padding-left:10px;
    line-height:24px;
    color:#000;
    i{
      position: relative;
      top:1px;
      font-size:14px;
    }
  }
  .depositContent{
    text-align: left;
    padding-bottom:10px;
    .bankItem{
      font-size:12px;
      text-align: center;
      color:#222;
      margin:0 10px;
      display: inline-block;
    }
  }
}
.atmbox{
  z-index:999;
  position: fixed;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  top:0;
  left:0;
  bottom:0;
  right:0;
  .am-list-item.am-input-item{
    padding-left:15px;
  }
  .mask{
    position: relative;
    height:100%;
    width:100%;
    background:rgba(0,0,0,.5);
  }
  .dom{
    position: absolute;
    bottom:0;
    height:100%;
    width:100%;
    background:#fff;
    .title{
      border-bottom: 1px solid #bbb;
      font-weight: bold;
      text-align: center;
      line-height:40px;
      height: 40px;
      font-size: .35rem;
      color:$theme-text-color;
      position: relative;
      i{
        font-size:.35rem;
        position: absolute;
        left:15px;
        top:.15rem;
      }
      a{
        position: absolute;
        right: 15px;
        top: 0;
        font-size: .25rem;
      }
    }
    .overflow{
      position: absolute;
      top:41px;
      width:100%;
      bottom:0;
      overflow-y:auto ;
      text-align: center;
      h3{
        color: #000;
        background: #eee;
        line-height: .6rem;
        margin: 0;
      }
      .qrcode{
        img{
          max-height:160px;
          margin:0 auto;
        }
      }
      .amount{
        font-size: .3rem;
        font-weight: bold;
        color:#000;
        line-height:1rem;
        text-align: center;
        span{
          font-size:.35rem;
          color:$theme-text-color;
        }
      }
      .text{
        margin:10px;
        line-height:24px;
        color:$theme-text-color;
      }
      .am-list-item .am-input-label{
        color:#888;
        margin: -5px 0px 0 0px;
      }
      .am-input-control{
        pointer-events: all
      }
      .am-list-item .am-list-line .am-list-content{
        color:#888;
      }
      .am-list-item .am-list-line .am-list-extra{
        color:#000;
      }
    }
  }
}
.tipsAmount{
  color:$theme-text-color;
  font-size:12px;
  padding:10px;
}
.qrcodeCon{
  padding:0 .5rem .5rem;
  .amount{
    font-size: .3rem;
    font-weight: bold;
    color:#000;
    line-height:1rem;
    text-align: center;
    span{
      font-size:.35rem;
      color:$theme-text-color;
    }
  }
  .qrcode{
    flex:1;
    font-size:.25rem;
    text-align: center;
    line-height:80px;
    min-height:160px;
  }
  .text{
    flex: 1;
    padding-top: 20px;
    line-height: 22px;
    text-align: left;
    color:#333;
    i{
      color:$theme-text-color;
    }
    strong{
      color:$theme-text-color;
    }
  }
}
.QrcodeDeposit{
  z-index:999;
  position: absolute;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  top:0;
  left:0;
  bottom:0;
  right:0;
  .mask{
    position: relative;
    height:100%;
    width:100%;
    background:rgba(0,0,0,.5);
  }
  .dom{
    position: absolute;
    bottom:0;
    height:auto;
    background:#fff;
    .title{
      border-bottom: 1px solid #eee;
      font-weight: bold;
      text-align: center;
      line-height: .7rem;
      height: .7rem;
      font-size: .35rem;
      color:$theme-text-color;
      position: relative;
      i{
        font-size:.35rem;
        position: absolute;
        left:15px;
        top:.15rem;
      }
      a{
        position: absolute;
        right: 15px;
        top: 0;
        font-size: .25rem;
      }
    }
    .amount{
      font-size: .3rem;
      font-weight: bold;
      color:#000;
      line-height:1rem;
      text-align: center;
      span{
        font-size:.35rem;
        color:$theme-text-color;
      }
    }
    .con{
      padding:0 .5rem .5rem;
      display: flex;
      .qrcode{
        flex:1;
        font-size:.25rem;
        text-align: center;
        line-height:80px;
        min-height:160px;
      }
      .text{
        flex: 1;
        padding-top: 20px;
        line-height: 22px;
        text-align: left;
        color:#333;
        i{
          color:$theme-text-color;
        }
        strong{
          color:$theme-text-color;
        }
      }
    }
  }
}

.slideInUp{
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}
.slideOutDown {
  -webkit-animation-name: slideOutDown;
  animation-name: slideOutDown;
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}


.am-list-item .am-input-control input{
  float: left;
  font-size: 16px!important;
}