/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;

}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    text-decoration: none;
    color: #CCCCCC;
}

a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

body {
    width:100%;
    margin: 0 auto;
    padding: 10px;
    font-size: 14px;
    line-height: 24px;
    color: #eaeaea;
    font-family: 'Microsoft YaHei UI', 'Microsoft YaHei', DengXian, SimSun, 'Segoe UI', Tahoma, Helvetica, sans-serif;
    background: linear-gradient(276deg, #480c0c 15%, #7c1515 60%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#480c0c', endColorstr='#7c1515',GradientType=1 ); /* IE6-9 */


}

h1 {
    display: block;
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 10px;
    font-family: "SimHei",'Microsoft YaHei';
    color: rgb(249, 221, 136);

}
h1 table{
    margin: 0 auto;
}
h1 td{
    vertical-align: middle;
}
h1 img {
    height:70px;
}

.toptext{
    text-align: center;
    text-align: center;
    width: 960px;
    display: block;
    margin: 0 auto 10px;
}

.qrcode{
    width: 140px;
    padding: 16px 18px;
    margin: 0 auto;
    background: #7C1515;
    box-shadow: 0 0 10px rgba(32, 32, 32, 0.56);
    border-radius: 10px;
    -ms-border-radius:  10px;
}
.qrcode .top{
    width: 120px;
    padding: 10px;
    background: #ffffff;
}
.qrcode .bottom {
    margin-top: 10px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-weight: bold;
}

h2 {
    margin: 10px 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    font-family: "SimHei",'Microsoft YaHei';
    color: rgb(249, 221, 136);
}

p {
    margin-bottom: 10px;
}

span {
    display: block;
    font-size: 12px;
    line-height: 12px;
}

code {
    padding: 2px 4px;
    font-size: 95%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
.content{
    width: 1000px;
    /*margin-top: 13px;*/
    margin: 13px auto;
    background: url("../imgs/browser_update/black_board.png");
    padding: 35px 20px;
    min-height: 500px;
}
.content .item{
    border-top: 3px solid #7C1515;
    margin: 0 10px;
    padding: 0 5px 30px 5px;
}
.clean {
    clear: both;
}

ul {
    padding: 0 1em;
}

ul li {
    list-style-type: disc;
    list-style-position: inside;
}
.browser li {
    width: 146px;
    height: 32px;
    line-height: 22px;
    float: left;
    list-style: none;
    background: url(../imgs/browser_update/browers.png) no-repeat;
    padding-left: 40px
}
.browser .browser-chrome {
    background-position: 0 0px;
}
.browser .browser-firefox {
    background-position: 0 -33px;
}

.browser .browser-ie {
    background-position: 0 -68px
}

.browser .browser-qq {
    background-position: 0 -101px
}
.browser .browser-360{
    background-position: 0 -135px
}