.secondVerify{
    .hijack-alert{
        box-shadow: 2px 2px 3px 0px #5a4d85;
        .hijack-box{
            border: 1px solid #5a4d85;
            p{
                background: #5a4d85;
            }  
            ul{
                li{
                    button{
                        background: #5a4d85;
                    }
                }
            } 
        }
    }    
}
