@charset "utf-8";
//新濠天地

$font-family:            #{arial,helvetica,STHeitiSC-Light,"Heiti SC",droidsansfallback,dengxian,"microsoft yahei"};
$bg-color:               #fff;//body背景色


//色系
$theme-firstBg-color:    #50289B;//首页背景颜色$theme-textActive-color
$theme-noticeBg-color:   #10002d ;//公告背景颜色


$theme-text-color:       #50289B;//主题字体颜色
$theme-textActive-color: #ffe000;//字体选中颜色
$theme-border-color:     #50289B;//主题border颜色
$theme-border-color2:     #381478;//主题border颜色
$theme-btnBg:            #50289B;//主题按钮颜色
$theme-bgBg-disabled:    #ba9af5;//主题按钮disabled颜色
$theme-card-bg :         #5b32a9;//银行卡管理中卡片的背景色
$singleList-bg:         #333031;//单一游戏列表背景（没有分类）



//图片
$image:(
        logo:url('./images/logo.png'),
        nav-bg:url('./images/nav-bg.png'),
        login_logo:url('./images/login_logo.png'),
        bg-login:url('./images/bg-login.png'),
        promo_bg:url('./images/promo_bg.png'),
        lotto_img:url('./images/lotto_img.png'),
        wechat_img:url('./images/weixinzhifu.png'),
        statement_img :url('./images/wapico.png')
);



