/*.tm .clearfix.t20 {  border: 1px solid #693432;}*/
/*select.select{background-color: black;color: #fff;}*/
.date-select{color: #fff;}
.huang {color: yellow;font-size: 14px;}
/*.tm .report .t {border-bottom: 1px solid #b55454;}*/