#reserveDialog_login {
    .modal-dialog {
        width: 725px;
    }

    .custom_modal_content { 
        width: 400px;
        margin: 100px;
        box-shadow: none;
        top: 100px;
    }

    .custom_modal_content .modal-header {
        text-transform: uppercase;
        text-align: center;

        .close {
            .fa-times {
                &::before {
                    position: absolute;
                    top: 5px;
                    right: 2px;
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }

    .fast_booking_content {
        width: 100%;
        height: 235px;
    }

    .fast_booking_content form {
        width: 95%;
        margin: 2% auto;
    }

    .fast_booking_content p {
        margin-top: 5px;
        margin-bottom: 3px;
    }

    .fast_booking_content input {
        padding: 0 5px;
        width: 100%;
        border: none;
        height: 33px;
        color: #333;
    }

    .fast_booking_content button {
        width: 155px;
        height: 40px;
        display: block;
        margin: 20px auto 0 auto;
        border: 0;
        font-size: 20px;
        border-radius: 4px;
    }
}