@charset "utf-8";


// base


$font-size:              14px;
//$font-family:            #{arial,helvetica,STHeitiSC-Light,"Heiti SC",droidsansfallback,dengxian,"microsoft yahei"};

$text-color-normal:      #fff;
$text-color-2:      #ffea99;
$text-footer:    #AEACAE;

$text-color-hightline:  #00FEFE  !important;;

$bg-color:                #171E23;
$bg-Process-color:        #342c1f;
$bg-title-color:          #342c1f;
$bg-content-color:        #11100e;

$bg-color-footer:         #181E27;
$bg-footer-nav:           #594b3a;
$bg-color-btn:            #64563f;
$bg-color-btnhover:            #ecb934;

$contact-icon-color:      #ecb934;

$btn-hover:               #eea61b;
$footer-hover:            #fff;

$menu-click-color: #e6c446 !important;

$nav-Separate-lines-top:     #000000;
$nav-Separate-lines-bottom:  #342c1f;
$border-color:           #64563f;
$border-color2:           #5c4f3b;


//$border-color-deep:      #8effe0;

// base
$base: (
        logo_img:url(resources/logo2.png),
        hader_right_img:url(resources/index_05.png),
   //------------------------網站首頁----------------
        index_banner_img:url(resources/index_10.jpg),
        index_banner_img_two:url(resources/index_13.png),
  //------------------------footer----------------
        footer_bg_img:url(resources/footerh.png),
  //__________________________品牌介紹________________
        brand_banner_img: url(resources/brand/product_02.jpg),

        brand_icon1: url(resources/brand/product_05.png),
        brand_icon2: url(resources/brand/product_07.png),
        brand_icon3: url(resources/brand/product_09.png),

        productListImgTy: url(resources/brand/product_15.jpg),
        productListImgZr: url(resources/brand/product_17.jpg),
        productListImghj: url(resources/brand/product_21.jpg),
        productListImgCp: url(resources/brand/product_23.jpg),

        productListImg1: url(resources/brand/product_26.jpg),
        productListImg2: url(resources/brand/product_28.jpg),
        productListImg3: url(resources/brand/product_33.jpg),
        productListImg4: url(resources/brand/product_35.jpg),
        productListImg5: url(resources/brand/product_38.jpg),
        productListImg6: url(resources/brand/product_39.jpg),
  //--------合營計畫--------

        Cooperation_head_img: url(resources/money/money_02.jpg),



  //__________________________立即加入________________


        register_bg_img: url(resources/bg_02.jpg),

  //__________________________營銷工具________________

        tools_head_img:url(resources/marke/marke_02.jpg),

  //__________________________常見問題________________
        problem_head_img: url(resources/help/help_03.jpg),

  //__________________________聯絡我們________________
        contact_head_img:url(resources/content/content_02.jpg),
        contact_bottom_logo_img:url(resources/logo2.png),
);
