
// 样式重构-头部
#topHead {
    position: relative;
    // 头部背景
    .headBg{
        border-bottom: 1px solid #23221f;
        height: 149px;
        .container{
            width: 1260px;
            .headFname{
                position: relative;
                height: 115px;
                .gofg{
                    display: block;
                    width: 299px;
                    height: 124px;
                    position: absolute;
                    left: 50px;
                }
                .logo{
                    float: left;
                }
                .procenter{
                    position: absolute;
                    top: 12px;
                    width: 345px;
                    height: 99px;
                    background: url(./image/s_tl.1.png) no-repeat;
                    background-size: contain;
                }
                .credit{
                    display:block;
                    height: 56px;
                    position: absolute;
                    width: 206px;
                    background: url(./image/slogan.png) center center no-repeat;
                    left: 394px;
                    top: 28px;
                }
                // 登录
                .loginForm {
                    float: right;
                    color: #fff;
                    margin-right: 15px;
                    .timeNumber{
                        position: relative;
                        .time_box b{
                            font-weight:400;
                        }
                        i{
                            margin-right: 5px;
                        }
                        .proxy{
                            display: block;
                            cursor: pointer;
                            padding: 0;
                            position: absolute;
                            left: 240px;
                            bottom: -23px;
                        }
                        a,span{
                            color: #785a38;
                            padding-right: 10px;
                            font-size: 13px; 
                        }
                        .mobile_betting{
                            position: absolute;
                            a{
                                color: #ff0000
                            }
                        }
                        .personalHide{
                            display: none;
                        }
                        .top_phoneAdd{
                            position: absolute;
                            left: 160px;
                            bottom: -23px;
                            cursor: pointer;
                            padding: 0;  
                            a{
                                color: #f00;
                                opacity: .4;
                                -webkit-animation: hide 1s infinite;
                                -o-animation: hide 1s infinite;
                                animation: hide 1s infinite;
                            }
                            
                        }
                        .fav{
                            position: absolute;
                            left: 80px;
                            bottom: -23px;
                        }
                        a.rightSide{
                            left: 240px;
                        }
                        .navLink{
                            position: absolute;
                            bottom: -23px;
                            &.color-highlight {
                                left: 160px;
                                &.rightSide {
                                    left: 242px;
                                }
                            }
                            a.hot_word {
                                position: relative;
                                opacity: .4;
                                -webkit-animation: hide 1s linear alternate infinite;
                                -o-animation: hide 1s linear alternate infinite;
                                animation: hide 1s linear alternate infinite;
                            }
                        }
                    }
                    #login-form{
                        margin-top: 24px;
                        .form-login-input{
                            position: relative;
                            width: 200px;
                            line-height: 24px;
                            padding-left: 7px;
                            input{
                                padding: 0 0 0 26px;
                                color: white;
                                border: 1px solid #946a1a;
                                width: 196px;
                                height: 28px;
                            }
                            a.forget{
                                position: absolute;
                                right: 0px;
                                bottom: 7px;
                                background: transparent;
                                color: #fff;
                            }
                        }
                        .form-login-button{
                            width: 130px;
                            margin-top: 36px;
                            .form-login-btn{
                                width: 102px;
                                height: 25px;
                                border: 0;
                            }
                        }
                        .form-login-reg{
                            width: auto;
                            height: auto;
                            background: none;
                            padding-top: 8px;
                            margin-top: 30px;
                            .form-reg-btn{
                                width: 84px;
                                height: 24px;
                                background-position: -102px 0px;
                                &:hover{
                                    background-position: -102px -26px; 
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



#topHead{
    
    .Navigation{
        background: url('./image/hd-nav-box.png') no-repeat;
        background-size:100% 100%;    
        width: 1230px;
        margin: 0 auto;
        position: relative;  
        height: 33px;     
    }
    .navNav{
        position: relative
    }
    .secondWrap{
        position: absolute;
        top: 33px;
        width: 100%;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
        z-index: 888;

        .container{
            width: 1230px;
            margin: auto;
            text-align: center;
            position: relative
        }
        nav{
            height: 200px; 
            background: rgba(69, 41, 12, 0.85);
            overflow: hidden;
            display: none;
        }
    }
    .new_toplink{
        background: url('./image/hd-info-box.png') no-repeat;
        height: 35px;
        right: 0px;
        top: 0px;
        padding: 0px 10px 0px 27px;
        width: 437px;
    }
    .new_l{
        float: left;
        a,span{
            line-height: 35px;
            font-size: 12px;
            text-decoration: none;
            color: white;
            padding-right: 8px!important;
        }
    }
    .infoContent{
        margin-top: 30px!important;
        font-size: 15px;
        //margin-left: -80px;
        text-align: left;
        padding: 5px;
        .infoWrap{
            display:inline-block
        }
        .memberItem a{
            margin-left: 5px;
            &.charge {
                opacity: .4;
                -webkit-animation: hide 1s infinite;
                -o-animation: hide 1s infinite;
                animation: hide 1s infinite;
            }
        }
    }
    .menu-nav {
        height: 33px;
        width: 100%;

        li.mainTitle{
            float: left;
            width: 10%;
            text-align: center;
            font-size: 16px;
            margin-right: 19px;
            position: relative;
            line-height: 40px;
        }
        .nav_inbox a{
            font-size: 14px;
            font-weight: bold;
            color: #2b1704;
            line-height: 33px;
            width: 121px;
            height: 34px;
            display: block;
            text-shadow: 0 1px 1px #e2d2a1;
        }   
        .nav_inbox a.active{
            color: #f6ce3c;
            text-shadow: 0 1px 1px #450001;
        } 
    }
    .aaa{
        float: left;
        position: relative;
        left: 50px;
        top: 20px;
    }
    .notice {
        color: #825a55;
        overflow: hidden;
    }
    .noticeCenter {
        float: left;
        height: 35px;
        overflow: hidden;
    }
    .memberItem a{
        text-decoration: underline;
    }
    .memberItem .member-msg{
        text-decoration: none;
    }
    .timeNumber .personal{
        display: block;
        cursor: pointer;
        padding: 0;
        position: absolute;
        left: 0px;
        bottom: -23px;
        a{font-size: 13px ;}
    }
    .timeNumber .personal a:hover{
        text-decoration: underline;
    }
    .item{
        padding: 0 2px;
    }
    #login-form{
        .code-input{
            display: none;
        }
        .code-image{
            display: none;
        }
        &.require_verify_code{
            .account-input{
                width: 125px;
            }
            .pwd-input{
                width: 125px;
            }
            .code-input{
                display:inline-block;
                width: 70px;
            }
            .code-image{
                display: inline-block;
                width: 70px;
                background: #4d4332;
                height: 28px;
                border: 1px solid #4d4332;
                img{
                    width: 67px;
                }

            }
        }

    }
}
.main-menu {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
.main-menu-item {
    float: left;
}
.separator a {
    border-right: 1px solid #4f4f4f;
}
.main-menu-link {
    position: relative;
    z-index: 16;
    display: inline-block;
    height: 40px;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
}
.mobile-item a:before, .promotion-item a:before, .vip-item a:before {
    display: inline-block;
    width: 24px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    background-image: url('./image/sprite.png');
    background-repeat: no-repeat;
    background-position: -360px -20px;
    text-indent: -9999px;
    content: "";
    margin-right: 6px;
}
.mobile-item a:before, .promotion-item a:before, .vip-item a:before {
    display: inline-block;
    width: 24px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    background-image: url('./image/sprite.png');
    background-repeat: no-repeat;
    background-position: -360px -20px;
    text-indent: -9999px;
    content: "";
    margin-right: 6px;
}
.mobile-item a:before{
    display: inline-block;
    width: 24px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    background-image: url('./image/sprite.png');
    background-repeat: no-repeat;
    background-position: -360px -59px;
    text-indent: -9999px;
    content: "";
    margin-right: 6px;
}
.pull-right {
    float: right;
}

.main-menu-item ul li {
    font-size: 16px;
    line-height: 36px;
    width: 20px;
}
item.active>.main-menu-link, .mobile-item>.main-menu-link:hover, .promotion-item.active>.main-menu-link, .promotion-item>.main-menu-link:hover, .vip-item.active>.main-menu-link, .vip-item>.main-menu-link:hover {
    background: transparent;
    color: #ffe000 !important;
}
@keyframes hide {
    0% {
        opacity: .4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .4;
    }
}
@-moz-keyframes hide {
    0% {
        opacity: .4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .4;
    }
}
@-webkit-keyframes hide {
    0% {
        opacity: .4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .4;
    }
}
@-o-keyframes hide {
    0% {
        opacity: .4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .4;
    }
}