.ulbox::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 0px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 0px;
}

.ulbox::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #535353;
}

.ulbox::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0px;
  background: #EDEDED;
}


.looto-background {
  width: 1900px;
  height: 846px;
  position: relative;
  margin: auto;
  background: url(./images/bg.jpg) 0 0/100% 100% no-repeat;

  .ulbox {
    position: absolute;
    top: 284px;
    left: 564px;
    width: 264px;
    height: 353px;
    overflow: hidden;

    .prizelist {
      text-align: center;

      li {
        text-align: left;
        height: 30px;
        margin-top: 15px;

        span:nth-last-of-type(1) {
          color: #ffe000;
          float: right;
        }

        span:nth-last-of-type(2) {
          color: #fff;
        }
      }
    }
  }

  .lotto-right {
    position: absolute;
    left: 907px;
    top: 108px;
    width: 694px;
    height: 694px;
    background: url(./images/dzp2.png) 0 0/100% 100% no-repeat;
    -webkit-transform: rotate(-38deg);
    transform: rotate(-38deg);
    z-index: 2;
  }

  .lotto-right-gif {
    position: absolute;
    left: 907px;
    top: 108px;
    width: 694px;
    height: 694px;
    background: url(./images/dzp2.gif) 0 0/100% 100% no-repeat;
    -webkit-transform: rotate(-38deg);
    transform: rotate(-38deg);
    z-index: 1;
  }

  .lotto-right-zz {
    position: absolute;
    top: 338px;
    width: 238px;
    height: 238px;
    left: 1135px;
    background: url("./images/www.png") 0 0/100% 100% no-repeat;
    z-index: 4;
    cursor: pointer;

    .lotto-right-zz-img {
      background: url("./images/zhizhenzi.png") 0 0/100% 100% no-repeat;
      width: 66px;
      height: 66px;
      position: absolute;
      top: 86px;
      left: 87px;
      cursor: pointer;
    }
  }

  .zj-botton-left {
    position: absolute;
    left: 378px;
    top: 720px;
    width: 300px;
    height: 93px;
    background: url("./images/dzp_left.png") 0 0/100% 100% no-repeat;
    z-index: 1;
    cursor: pointer;
  }

  .zj-botton-right {
    position: absolute;
    left: 714px;
    top: 720px;
    width: 300px;
    height: 93px;
    background: url("./images/dzp_right.png") 0 0/100% 100% no-repeat;
    z-index: 1;
    cursor: pointer;
  }
}

.img-xx {
  width: 27px;
  height: 27px;
  background: url(./images/c_05.png) 0 0/100% 100% no-repeat;
  vertical-align: middle;
}

.huodong_detail {
  width: 1000px;
  height: 828px;
  background: #2c1810;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  // display: none;
  margin: auto;

  .hd_img {
    float: left;
    margin: 20px 0 2px -15px;

    .img1 {
      width: 234px;
      height: 60px;
      background: url(./images/tit3.png) 0 0/100% 100% no-repeat;
      vertical-align: middle;
    }

    img {
      vertical-align: middle;
      border: 0;
    }
  }

  .close_img {
    float: right;
    margin: -8px -8px 0 0;
    cursor: pointer;
  }

  .text {
    clear: both;

    .wrap_box {
      width: 980px;
      margin-left: auto;
      margin-right: auto;
      border-width: 0px;

      .wz {
        display: block;
        height: auto;
        overflow: visible;
        font-family: "微软雅黑";
        font-size: 14px;
        line-height: 22px;
        color: #fff;
        text-align: left;
      }

      .newwz {
        float: left;
        display: inline-block;
        width: 33%;
      }

      .newtitle {
        color: rgb(255, 255, 0) !important;
        font-size: 20px !important;
        padding: 0px 10px 15px 10px;
      }

      .newwz {
        float: left;
        display: inline-block;
        width: 33%;
      }

      table {
        border-collapse: collapse;
        width: 63%;
        background-color: #2c1810;
        color: #eebd0e;
        float: right;
        margin-right: 10px;
        border-spacing: 0;

        tbody {
          display: table-row-group;
          vertical-align: middle;
          border-color: inherit;

          tr.tit {
            height: 40px;
            background-color: #f2ca0f;
            color: #2e200c;
            line-height: 40px;
          }

          tr {
            height: 32px;
          }
        }
      }

      .clear {
        clear: both;
      }

      .wz {
        display: block;
        height: auto;
        overflow: visible;
        font-family: "微软雅黑";
        font-size: 14px;
        line-height: 22px;
        color: #fff;
        text-align: left;
      }

      .newkongxi {
        margin-top: 20px;
      }

      p {
        margin: 0 0 10px;
      }

      .ye4 {
        text-indent: 24px;
      }
    }
  }
}

.newwz span {
  color: #f2ca0f;
}

.text table td {
  border: 1px solid #000;
  text-align: center;
}


.huodong_detail2 {
  width: 1000px;
  height: 481px;
  background: #2c1810;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -500px;
  margin-top: -215px;
  z-index: 9999;

  .hd_img {
    float: left;
    margin: 20px 0 2px -15px;

    .img1 {
      width: 234px;
      height: 60px;
      background: url(./images/tit4.png) 0 0/100% 100% no-repeat;
      vertical-align: middle;
    }
  }

  .close_img {
    float: right;
    margin: -8px -8px 0 0;
    cursor: pointer;
  }

  .wrap_box {
    width: 980px;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    border-width: 0px;
  }

  .wz {
    width: 100%;
    display: block;
    height: auto;
    overflow: visible;
    font-family: "微软雅黑";
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    text-align: left;
  }

  p {
    margin: 0 0 10px;
  }

  .ye4 {
    text-indent: 24px;
  }
}