@import "../../style/variables.scss";
.footerBar{
  position: fixed;
  bottom: 0;
  width: 100%;
  .navTabs{
    height:50px;
    text-align: center;
    border-top:1px solid #ccc;
    background:$bg-color;
    a{
      color:#949494;
      font-size:12px;
      display: block;
      position: relative;
      &.active{
        color:$theme-text-color;
      }
      i{
        font-size: 24px;
        display: block;
        margin-bottom:3px;
      }
      .am-badge{
        position: absolute;
        top:0;
        right: 50%;
        margin-right: -25px;
        .am-badge-text{
          background-color:$theme-btnBg;
        }
      }
    }

  }
  }

