.game-list-bgbox{
  margin-top:20px;
  width: 100%;
  height: 130px;
  background-size: cover;
  .game-list-outbox{
    margin: 0 auto;
    position: relative;
    .game-list-inbox {
      padding: 0;
      width: 100%;
      margin: 0 auto;
      position: relative;
      text-align: center;
      .listboxhid {
        background: #f42e2c;
        height: 40px;
        .platform_list {
          cursor:pointer;
          margin: 0;
          width: 123px;
          font-size: 15px;
          display:inline-block;
          float:left;
          line-height: 40px;
          border-right: 1px solid #ffffff;
          span {
            color: #fff;
          }
          &:hover,&.onchoose {
            background: #c90f1e;
            border-radius: 0;
          }
        }
      }

    }
  }
}



.game-list-fname {
  width:100%;
  background:#7a7a7a;
  padding-bottom: 20px;
  .game-list-left-nav {
      padding: 10px 15px;
      margin:0 auto;
      float: inherit;
      position: relative;
      .checkJackpot {
        width: 100px;
        display: inline-block;
        margin-top: 0;
        margin-left: 0;
        input[type=checkbox] {
          background-color: rgba(0, 0, 0, .9);
        }
        input {
          margin-left: 5px;
        }
        &:hover label {
          color: #ffea00;
        }
      }
      ul {
        width: 800px;
        display: inline-block;
        li {
          padding-left: 16px;
          padding-right: 0;
          display: inline-block;
          &.active a{
            color:#ffea00;
          }
          a {
            color: #fff;
            &:hover {
              color: #ffea00;
            }
          }
          .game-text {
            display: none
          }
        }
      }
      .searchbar {
        width: 200px;
        position: absolute;
        line-height: 30px;
        right: 15px;
        top: 5px;
        input.searchbartext{
          padding-left: 20px;
          border-radius: 3px;
          height: 35px;
          background: #fff;
          width: 200px;
          color: #000;
          display: inline-block;
          border:none;
        }
        i.searchBtn{
          color: #0088fe;
          position: absolute;
          right: 20px;
          top: 10px;
          font-size: 15px;
        }
      }
    }
  .game-list-right-content {
    min-height:200px;
    &:after{
      content:'';
      display:block;
      clear:both;
    }
    .gameItem {
      float: left;
      text-align: center;
      margin: 20px 11px 5px;
      position: relative;
      .jackPot {
        color: #ffffff;
        background:rgba(253, 181, 12, 0.63);
        width: 100%;
        height: 25px;
        position: absolute;
        background-size: cover;
        top: 0px;
        left: 0;
        z-index: 55561;
        text-align: center;
      }
      a{
        margin: 0;
        width: 200px;
        display:block;
        span {
          display: block;
          color:#555;
          width: 100%;
          border-radius: 0 0 6px 6px;
          background: #eee;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          line-height: 42px;
          font-size: 16px;
        }
        img{
          width:100%;
          height:120px;
        }
      }
      &:hover{
        .game-fuceng{
          height:120px;
        }
      }
      .game-fuceng {
        background: rgba(0,0,0,.58);
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        transition: all .4s;
        overflow: hidden;
        display: block;
        &:hover:before{
          background: #0088fe;
        }
        &:before {
          content: "立即游戏";
          width: 120px;
          height: 30px;
          font-size: 15px;
          line-height: 30px;
          color: #fff;
          background: #16c38d;
          display: block;
          position: absolute;
          top: 35%;
          left: 20%;
          border-radius: 6px;
          transition: all .4s;

        }
      }
    }
  }
  #game-page{
    li{
      a{
        background: #fff;
        color: #111;
        border:#fff;
      }
    }
    .active{
      a{ color: #0088ff}
    }
  }
}



