.affix-online-server-2 {
    top: 30%;
}

.affix-online-server-2 {
    position: fixed;
    right: 10px;
    top: 20%;
    z-index: 999;
}
.affix-online-server-2 .hd {
    background: none;
    display: none;
}
.affix-online-server-2 .hd {
    background-size: 80%;
    height: 120px;
    width: 120px;
}
.affix-online-server-2 .bd {
    border: 1px solid #4f3317;
}
.affix-online-server-2 .bd {
    border: 1px solid #b36f28;
    border-radius: 5px;
}
.affix-online-server-2 .bd .online-service {
    border-radius: 5px 5px 0 0;
    position: relative;
}
.affix-online-server-2 .bd .block {
    background: url("../images/left_k.png") bottom no-repeat #2c1810;
    height: 85px;
    padding-top: 8px;
}
.affix-online-server-2 .bd .online-service:before {
    content: "";
    width: 120px;
    height: 10px;
    background: url("../images/pic_ke2.png") 0 no-repeat;
    position: absolute;
    top: -1px;
    left: 0;
}
.affix-online-server-2 .bd .online-service .title {
    font-size: 21px;
    margin-bottom: 2px;
}

.affix-online-server-2 .bd .block .title {
    font-size: 20px;
}
.affix-online-server-2 .bd .block .title {
    color: #fff;
    font-size: 18px;
    height: 35px;
    line-height: 35px;
}
.affix-online-server-2 .bd .online-service .title i {
    display: none;
}
.affix-online-server-2 .bd .online-service .title .num {
    animation: affixText .8s linear alternate infinite!important;
}
.affix-online-server-2 .bd .online-service .content {
    padding-left: 24px;
}

.affix-online-server-2 .bd .block .content {
    font-size: 18px;
}
.affix-online-server-2 .bd .block .content {
    color: #f2d670;
    font-size: 14px;
    background: none;
}
.affix-online-server-2 .bd .online-service .content span {
    position: relative;
}
.affix-online-server-2 .bd .online-service .content span:before {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    background: url("../images/peplo.png") 50% no-repeat;
    background-size: 100%;
    left: -33px;
    top: -12px;
}
.affix-online-server-2 .bd .block {
    // height: 60px;
    width: 120px;
    text-align: center;
}
.affix-online-server-2 .bd .online-qq i {
    width: 30px;
    height: 30px;
    vertical-align: 7px;
    color: transparent;
    background: url("../images/qq.png") 50% no-repeat;
    background-size: 100%;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.affix-online-server-2 .bd .online-phone i {
    width: 25px;
    height: 25px;
    vertical-align: 4px;
    color: transparent;
    background: url(../images/phone.png) 50% no-repeat;
    background-size: 100%;
}
.affix-online-server-2 .bd .online-qq .content {
    margin-top: 3px;
    animation: affixText2 .8s linear alternate infinite!important;
}
.affix-online-server-2 .bd .block .content {
    font-size: 18px;
}


@keyframes affixText2 {
    24% {
        color: #f2d670
    }
    25% {
        color: #f00b0d
    }
    74% {
        color: #f00b0d
    }
    75% {
        color: #f2d670
    }
}

.affix-online-server-2 .bd .qrcode div {
    color: #f2d670;
    margin-top: 10px;
}
.affix-online-server-2 .bd .qrcode {
    position: relative;
    background: #2c1810!important;
}
.affix-online-server-2 .bd .qrcode {
    padding: 10px;
    text-align: center;
    background: rgba(116,94,96,.5);
}
.affix-online-server-2 .bd .qrcode:before {
    content: "";
    width: 120px;
    height: 10px;
    position: absolute;
    background: url("../images/pic_ke.png") 0 no-repeat;
    bottom: 0;
    left: 0;
}



.affix-online-server-2 .ft {
    height: 20px;
    line-height: 20px;
    background: none;
    text-align: center;
}
.affix-online-server-2 .ft span.left-span {
    border-top-color: #2c1810!important;
    border-right-color: #2c1810!important;
}
.affix-online-server-2 .ft span.left-span {
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-top-color: rgba(116,94,96,.5);
    border-right-color: rgba(116,94,96,.5);
    font-size: 0;
}
.affix-online-server-2 .ft span.center {
    background: #2c1810!important;
    color: #f2d670;
}
.affix-online-server-2 .ft span.center {
    background: rgba(116,94,96,.5);
    font-size: 12px;
    cursor: pointer;
}
.affix-online-server-2 .ft span.right-span {
    border-top-color: #2c1810!important;
    border-left-color: #2c1810!important;
}

.affix-online-server-2 .ft span.right-span {
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-left-color: rgba(116,94,96,.5);
    border-top-color: rgba(116,94,96,.5);
    font-size: 0;
}
.affix-online-server-2 .ft span {
    display: inline-block;
    height: 20px;
    margin: 0;
    padding: 0;
    line-height: 20px;
    width: 36px;
    text-align: center;
    vertical-align: top;
}