.secondVerify{
    .hijack-alert{
        box-shadow: 2px 2px 3px 0px #4f2b1d;
        .hijack-box{
            border: 1px solid #4f2b1d;
            p{
                background: #4f2b1d;
            }  
            ul{
                li{
                    button{
                        background: #4f2b1d;
                    }
                }
            } 
        }
    }    
}
