.affix-online-server-3{
  position: fixed;
  left: 10px;
  top: 20%;
  z-index: 999;
  .hd{
    width: 132px;
    height: 117px;
    cursor: pointer;
  }
  .bd{
    border: 1px solid #b36f28;
    border-radius: 5px;
    .block{
      padding-top: 8px;
      text-align: center;
      .title{
        color: #000;
        font-size: 16px;
        height: 28px;
        line-height: 28px;
        width: 114px;
        border-radius: 28px;
        background: #FFE469;
        margin: 0 auto;
        font-weight: bold;
      }
      .content{
        color: #f2d670;
        font-size: 14px;
        background: none;
      }
      .content1{
        padding-top: 5px;
        img{content: url("resource/pay.png");}
      }
      a{
        text-decoration: none;
      }
    }
    .promotion-btn, .agent-btn, .register-btn{
      padding-top: 15px;
    }
  }
  .ft{
    height: 20px;
    line-height: 20px;
    background: none;
    text-align: center;

    span{
      display:inline-block;
      height: 20px;
      margin: 0;
      color: #fff;
      padding: 0;
      line-height: 20px;
      width: 36px;
      text-align: center;
      vertical-align: top;
      &.center{
        font-size: 12px;
        cursor: pointer;
      }
      &.left-span{
        height: 0;
        width: 0;
        border: 10px solid transparent;
        border-top-color: rgba(116, 94, 96, 0.5);
        border-right-color: rgba(116, 94, 96, 0.5);
        font-size: 0;
      }
      &.right-span{
        height: 0;
        width: 0;
        border: 10px solid transparent;
        border-left-color: rgba(116, 94, 96, 0.5);
        border-top-color: rgba(116, 94, 96, 0.5);
        font-size: 0;
      }
    }
  }

}


