.streetMachine{
  .game-list{
    min-height:300px;
    width:1200px;
    margin:30px auto;
    .game-list-categories{
      &:after{
        content:'';
        display: block;
        clear: both;
      }
      .title{
        float:left;
        font-size: 24px;
        color: #c83434;
        label{
          font-size:13px;
          color:#666;
          font-weight: normal;
          input{
            position: relative;
            top:2px;
            margin-right:3px;
          }
        }
      }
      ul li{
        float:left;
        &:hover{
          a{
            color:#333;
          }
        }
        &.active{
          a{
            color: #fd4944;
            border-bottom: 4px solid #ca322f;
          }
        }
        a{
          color: #333;
          padding: 10px 15px;
          display: block;
          border: 0 solid transparent;
          border-bottom: 4px solid transparent;
          text-decoration: none;
        }
      }
    }

    .gameTabs{
      display: table;
      width: 100%;
      text-align: center;
      margin-top: 1px;
      border-bottom: 1px solid #fff;
      a{
        color: #fff;
        display: table-cell;
        border-right: 1px solid #fff;
        box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
        font-size: 14px;
        text-align: center;
        line-height:30px;
        background-color: #8d271b;
        &:hover{
          background-color: #f44;
        }
        &.active{
          background-color: #c83434;
        }
      }
    }


    .list-items{
      margin:10px 0;
      .ant-list-item{
        padding:0;
        margin: 0;
      }
      .game-list-item{
        width:100%;
        position: relative;
        padding:5px;

        .itemImg{
          background:url('./images/bg.jpg') 0 0 no-repeat;
          background-size:100%;
          position: relative;
          cursor: pointer;
          &:hover{
            background:url('./images/bg.gif') 0 0 no-repeat;
          }
          .gifBg{
            img{
              width: 100%;
              vertical-align: middle;
            }
          }
        }
        .game-title{
          background:#c83434;
          color:#fff;
          font-size: 13px;
          padding:6px;
          text-align: center;
          &:after{
            content:'';
            display: block;
            clear:both;
          }
          i{
            font-size:18px;
            float:left;
            padding:0 10px;
            cursor:pointer;
          }
          a{
            color:#fff;
            float:left;
            display: block;
            padding:0 35px;
            border-left: 1px solid #fff;
          }
        }


      }
    }

    .loading-container{
      text-align: center;
      padding:30px 0;
      .ant-spin{
        .ant-spin-dot i{
          background-color:#333;
        }
        color:#bbb;
      }
    }
    .noMore{
      padding: 20px 0;
      font-size: 14px;
      color: #bbb;
      text-align: center;
      border-top: 1px solid #eee;
    }
  }
}
.streetMachineModal{
  .con{
    min-height: 100px;
    overflow: auto;
    margin-bottom: 20px;
  }
}