.header .logo {
  background: url("./images/hongbao/logo.png") no-repeat center 0

}
.banner .banner-bg .banner-a{
  background: url("./images/hongbao/banner_a.jpg") no-repeat center 0
}
.header .nav li a:hover {
  color: #3f0e00;
  background: url("./images/hongbao/nav-hover.png");
}