//澳彩
.header_left{
  background: url("help/images/logo.png")0 0 no-repeat;
  background-size:100%;
  width:350px !important;
}

.header_right {
  background: url("./images/agent/index_05.png") right no-repeat;
}

.imgLeft{
  background: url("./images/agent/index_13.png") right no-repeat;
}
#ContactContent .fnameCenter .contactHzImg .logoImg{
  background: url("help/images/logo.png") center no-repeat;
  background-size:100%;
}