.EditPassword{
  .scroll-content{
    margin-bottom:0;
    z-index:1;
  }
  .formCon{
    padding:.2rem;
    i.icon{
      font-size: .4rem;
      margin-left: .5rem;
    }
    .am-list-body:before{height:0px;}
  }
}